<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-warning ">
        <a href="#" class="navbar-brand text-dark">E-store</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/cart" class="nav-link">Cart</a>
            </li>
            {% if request.session.customer%}
             <li class="nav-item">
                 <a href="/logout" class="nav-link">log-out</a>
            </li>
            {%else%}
            <li class="nav-item">
                 <a href="/signup" class="nav-link">Sign-up</a>
            </li>
            <li class="nav-item">
                 <a href="/login" class="nav-link">Login</a>
            </li>
            {%endif%}
        </ul>
    </nav>
{% block content%}
{%endblock%}
</body>
</html>