{%extends "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{%block content%}
<div class="container border border-dark mt-5 pg-5 center col-lg-4" >
    <div class="form-group">
        <h2>Enter your Credentials</h2>
    <form method="post" >
    {%csrf_token%}
    <label>Your First Name:</label>
    {{credentials.first_name}}
    <label>Your Last Name:</label>
    {{credentials.last_name}}
    <label>Your Email:</label>
    {{credentials.Email}}
    <label>Your Password:</label>
    {{credentials.Password}}
    <input type="submit" value="submit">
</form>
</div>
</div>
{%endblock%}
</body>
</html>