{%extends "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
<div class="container mt-5 col-7 border border-dark">
    <div class="row  align-items-center">
        <div class="col">
              <table class="table">
<tr>
     <thead>
     <th>
        product image
     </th>
     <th>
         Product name
     </th>
    </thead>
</tr>

    <tr>
        <td><img style="height:100px" src="{{Name.Image.url}}"></td>
        <td>{{Name.product_name}}</td>
         <td>
            <a href="/edit/{{ Name.id }}"><span>Edit</span></a>
            <a href="/del/{{ Name.id }}">Delete</a>
        </td>
    </tr>

</table>
        </div>
    </div>
</div>
{%endblock%}
</body>
</html>