{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}

    <div style="height:800px" class="row d-flex justify-content-center align-items-center">
        <form action="login" class="form-group col-2 d-flex flex-column" method="post">
            {%csrf_token%}
            <h3>Login</h3>
            <input type="text" name="lgusername" placeholder="username">
            <input type="password" name="lgpassword" placeholder="password">
            <input class="btn btn-success" type="submit" value="submit">
        </form>
        <div>
            {%for message in messages%}
            <h4>{{message}}</h4>
            {%endfor%}
        </div>
    </div>

{%endblock%}
</body>
</html>