{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="p-4 m-4">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
                <img  style="height: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png">
                <div class="display-8">Create an account</div>
                <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Create an Account</h3>
            <form action="/signup" method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-light" role="alert">
                    {{error}}
                </div>
                {% endif%}

                <div class="form-group">
                    <lable>First name</lable>
                    <input id="" type="text" name="firstname" class="form-control form-control-sm" value="{{values.first_name}}">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input id="" type="text" name="lastname" class="form-control form-control-sm" value="{{values.last_name}}">
                </div>
                <div class="form-group">
                    <lable>Phone</lable>
                    <input id="" name="phone" type="text" class="form-control form-control-sm" value="{{values.phone}}">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}"
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input id="" type="password" name="password" class="form-control form-control-sm" >
                </div>
                 <hr>
         <div class="form-group">
                  <input class="btn btn-sm btn-info" type="submit" value="Create An Account ">
                </div>


            </form>
        </div>

    </div>
</div>
<

{% endblock %}